fuzzywuzzy==0.18.0
geopandas==1.0.1
langchain_ollama==0.2.3
mesa==3.1.4
mesa_geo==0.9.1
networkx==3.4.2
numpy==2.2.3
osmnx==2.0.1
pandas==2.2.3
pointpats==2.5.1
pyproj==3.7.1
ray==2.37.0
scikit_learn==1.6.1
Shapely==2.0.7
solara==1.44.1
